#footer{
    width: 100%;
    height: 70px;
    background-color: #282828;
    position: absolute;
    bottom: 0px;
}
#footer p{
    display: block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 70px;
}
